div.block-header-default{
    background-color: #9ccc65 !important;
}

.block-title{
    color: white  !important;
}

.btn-block-option{
    color: white;
    font-weight: bold;
}

thead tr th{
    text-transform: none !important;
    font-weight: bold !important;
}

.no-sort::after { 
    display: none!important; 
}

.no-sort::before { 
    display: none!important; 
}

.no-sort { 
    pointer-events: none!important; 
    cursor: default!important; 
}
